# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

### OSX ###

.DS_Store
.AppleDouble
.LSOverride

# Files created by vim
*.swp
*.swo
*.swn

# Dependency directory
node_modules/
